@charset "UTF-8";
.nav {
  display: flex;
  height: 110px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  justify-content: center;
}

.nav-logo {
  background: url("./../img/header/Group 1.svg");
  height: 71px;
  width: 100px;
  background-size: cover;
  background-position: center;
}

.nav-logo-dark {
  background: url("./../img/header/Group 1 (1).svg");
  height: 71px;
  width: 100px;
  background-size: cover;
  background-position: center;
}

.nav-list {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 0.7;
}

.nav-list-item {
  height: 100%;
  padding-top: 4px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  white-space: bottom;
  position: relative;
  border-bottom: 4px solid transparent;
}

.nav-list-item:hover {
  border-color: black;
  text-decoration: none;
}

.nav-contact {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-contact-tel {
  font-size: 18px;
  font-weight: 600;
  color: #00093C;
  text-decoration: none;
}

.nav-block {
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  background-color: #ffffff;
  z-index: 10000000;
}

.nav-block .box {
  height: 100%;
}

.nav progress {
  position: absolute;
  top: 110px;
  height: 4px;
  width: 100%;
  z-index: 30;
  border-radius: 0px;
  background-color: #ffffff;
}

.nav progress::-webkit-progress-bar {
  background-color: #c7bcbc;
}

.nav progress::-webkit-progress-value {
  background-color: #6565a8;
}

.header-light a {
  color: #000000;
}

.row {
  position: relative;
  height: 480px;
  overflow: hidden;
}

.row-img {
  background: url("./../img/header/row/slider 1.svg");
  background-size: cover;
  height: 480px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.row-block {
  position: relative;
  width: 1032px;
}

.row-bck {
  background-color: #00093C;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: right;
}

.row-bck2 {
  background: url("./../img/header/row/Group 594.svg");
  height: 442px;
  width: 1014px;
  top: 19px;
  right: 0;
}

.row-text {
  position: absolute;
  width: 575px;
  color: #ffffff;
  right: 87px;
  top: 126px;
}

.row-title {
  font-size: 36px;
  font-weight: 700;
}

.row-title1 {
  padding-bottom: 26px;
}

.row-title2 {
  padding-bottom: 40px;
}

.row-plus {
  background: url("./../img/header/row/Vector.svg");
  width: 130px;
  height: 130px;
  right: 701px;
  top: 73px;
}

.row-ball {
  background: url("./../img/header/row/Vector (2).svg");
  width: 120px;
  height: 120px;
  top: 35px;
  right: -48px;
}

.row-line1 {
  background: url("./../img/header/row/Vector 181.svg");
  height: 132px;
  width: 339px;
  bottom: -9px;
  right: 535px;
}

.row-thirty {
  background: url("./../img/header/row/Vector (1).svg");
  width: 100px;
  height: 82px;
  right: 292px;
  top: 340px;
}

.row-plus2 {
  background: url("./../img/header/row/Vector (3).svg");
  width: 85px;
  height: 85px;
  bottom: 283px;
  right: 300px;
}

.row-line2 {
  background: url("./../img/header/row/Vector 178.svg");
  height: 267px;
  width: 127px;
  bottom: -47px;
  left: 1534px;
}

.row-items {
  width: 50%;
  height: 480px;
  position: relative;
  z-index: 5;
}

.container__md1 {
  display: flex;
  gap: 40px;
  padding: 105px 0 150px;
}

.container__md1-left {
  position: relative;
}

.container__md1-message {
  background: url("./../img/container/md1/Union.svg");
  width: 265px;
  height: 220px;
  background-size: cover;
  background-position: center;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0 0 20px;
}

.container__md1-union {
  background: url("./../img/container/md1/Сова-01 1.svg");
  width: 168px;
  height: 190px;
  position: absolute;
  left: -40px;
  top: 180px;
}

.container__md1-link {
  padding: 15px 19px;
  border-radius: 6px;
  position: relative;
  z-index: 10;
  background-color: #ffffff;
  font-size: 14px;
  box-shadow: -1px 1px 9px 1px #5d97b080;
  font-weight: 500;
  line-height: 63px;
  max-height: 48px;
  margin-right: 20px;
}

.container__md1-block {
  display: flex;
  gap: 20px;
}

.container__md1-items {
  height: 200px;
  padding-top: 38px;
}

.container__md1-item {
  width: 800px !important;
  padding-left: 20px;
}

.container__md2 {
  overflow: hidden;
}

.container__md2-block {
  width: 780px;
  height: 436px;
  margin: 0 auto;
  position: relative;
}

.container__md2-video {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("./../img/container/md2/603123.png");
  z-index: 2;
}

.container__md2-bck {
  width: 780px;
  height: 436px;
  left: 0;
  top: 0;
  background-color: #00093C;
  opacity: 0.5;
  border-radius: 20px;
  z-index: 3;
}

.container__md2-line {
  top: -68px;
  left: -96px;
  z-index: 1;
}

.container__md2-line::before {
  content: url("./../img/container/md2/Vector.svg");
}

.container__md2-line2 {
  top: -58px;
  right: -244px;
}

.container__md2-line2::before {
  content: url("./../img/container/md2/Vector 184.svg");
}

.container__md2-line3 {
  right: -144px;
  bottom: -161px;
}

.container__md2-line3::before {
  content: url("./../img/container/md2/Vector (1).svg");
}

.container__md2-line4 {
  bottom: 24px;
  left: -266px;
}

.container__md2-line4::before {
  content: url("./../img/container/md2/Vector 183.svg");
}

.container__md3 {
  padding: 110px 0 80px;
}

.container__md3-title {
  font-size: 24px;
  font-weight: 700;
  width: 770px;
  padding-bottom: 50px;
}

.container__md3-items {
  display: flex;
  gap: 80px;
}

.container__md3-item-text {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container__md3-item-text1::before {
  content: url("./../img/container/md3/600 (1).svg");
}

.container__md3-item-text2::before {
  content: url("./../img/container/md3/82.svg");
}

.container__md3-item-text3::before {
  content: url("./../img/container/md3/14 795.svg");
}

.container__md4 {
  background-color: #00093C;
  height: 600px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__md4-block {
  width: 1920px;
  position: relative;
}

.container__md4-bckg {
  background: url("./../img/container/md4/Group 788.svg");
  height: 550px;
  width: 1920px;
  top: 19px;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.container__md4-title {
  padding: 60px 0 44px;
}

.container__md4-plus {
  top: 50px;
  left: 292px;
}

.container__md4-plus::before {
  content: url("./../img/container/md4/Vector.svg");
}

.container__md4-line {
  top: 377px;
  left: 930px;
}

.container__md4-line::before {
  content: url("./../img/container/md4/Vector (1).svg");
}

.container__md4-ball {
  right: 290px;
  bottom: 71px;
}

.container__md4-ball::before {
  content: url("./../img/container/md4/Vector (2).svg");
}

.container__md4-line2 {
  left: -5px;
  bottom: 63px;
}

.container__md4-line2::before {
  content: url("./../img/container/md4/Vector 189.svg");
}

.container__md4-line3 {
  right: 302px;
  top: -12px;
}

.container__md4-line3::before {
  content: url("./../img/container/md4/Vector 188.svg");
}

.container__md4 .slider__wrapper {
  width: 100%;
  overflow: static;
}

.container__md4 .slider__items {
  width: 100% !important;
}

.container__md4 .slider__items .slider__item {
  width: 240px !important;
  flex: 0;
}

.container__md5 {
  padding: 85px 0 340px;
}

.container__md5-items {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  gap: 20px;
  padding: 60px 0;
}

.container__md5-item {
  width: 280px;
}

.container__md5-item-text {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.container__md5-item-text1::before {
  content: url("./../img/container/md5/Group 797.svg");
}

.container__md5-item-text2::before {
  content: url("./../img/container/md5/Group 798.svg");
}

.container__md5-item-text3::before {
  content: url("./../img/container/md5/Group 800.svg");
}

.container__md5-item-text4::before {
  content: url("./../img/container/md5/Group 801.svg");
}

.container__md6 {
  padding: 0 0 100px;
}

.container__md6-num {
  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
}

.container__md6-month {
  font-size: 24px;
  font-weight: 700;
}

.container__md6-title {
  font-size: 36px;
  font-weight: 500;
}

.container__md6-subtitle {
  font-size: 18px;
  max-width: 540px;
  line-height: 24px;
}

.container__md6-items {
  display: grid;
  gap: 20px;
  grid-template-areas: 'item1 item1 item1' 'item2 item3 item4' 'item2 item5 item5';
}

.container__md6 a {
  color: #000000;
}

.container__md6-item {
  border-radius: 20px;
  padding: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 13px #bab7b751;
}

.container__md6-item-title {
  font-size: 24px;
  font-weight: 500;
}

.container__md6-button {
  height: 60px;
  outline: none;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 222px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.container__md6-button::after {
  content: url("./../img/container/md6/Vector 137.svg");
  margin-top: 3px;
}

.container__md6-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container__events {
  padding: 20px 0 300px;
}

.container__events-item {
  border-radius: 20px;
  padding: 25px 30px 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 13px #bab7b751;
}

.container__events-subtitle, .container__events-text {
  font-size: 12px;
  color: #4F4F4F;
}

.container__events-title {
  font-size: 18px;
  font-weight: 500;
  color: #00093C;
}

.container__events-date {
  font-size: 12px;
}

.container__events-items {
  display: grid;
  grid-template-areas: 'item1 item1 item1' 'item6 item7 item8' 'item9 item9 item10' 'item11 item12 item13';
  gap: 20px;
}

.career__box {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
}

.career__row {
  background-color: #00093C;
  height: 480px;
  overflow: hidden;
  color: #ffffff;
}

.career__row-button {
  height: 50px;
  position: relative;
  z-index: 10;
}

.career__row-line1 {
  top: 73px;
  left: -170px;
}

.career__row-line1::before {
  content: url("./../img/container/career/row/Vector.svg");
}

.career__row-line2 {
  left: -170px;
  bottom: 70px;
}

.career__row-line2::before {
  content: url("./../img/container/career/row/Vector 181.svg");
}

.career__row-line3 {
  left: 490px;
  top: 300px;
}

.career__row-line3::before {
  content: url("./../img/container/career/row/Vector (1).svg");
}

.career__row-line4 {
  top: 90px;
  left: 740px;
}

.career__row-line4::before {
  content: url("./../img/container/career/row/Vector (2).svg");
}

.career__row-line5 {
  top: 180px;
  left: 1290px;
}

.career__row-line5::before {
  content: url("./../img/container/career/row/Vector (3).svg");
}

.career__row-line6 {
  top: 380px;
  left: 1125px;
}

.career__row-line6::before {
  content: url("./../img/container/career/row/Vector 182.svg");
}

.career__row-img1 {
  top: 230px;
  left: 730px;
}

.career__row-img1::before {
  content: url("./../img/container/career/row/Mask Group (1).png");
}

.career__row-img2 {
  top: 35px;
  left: 890px;
}

.career__row-img2::before {
  content: url("./../img/container/career/row/Mask Group.png");
}

.career__row-img3 {
  top: 214px;
  left: 1015px;
}

.career__row-img3::before {
  content: url("./../img/container/career/row/Mask Group (2).png");
}

.career__row-title {
  font-size: 42px;
  font-weight: 700;
}

.career__row-subtitle {
  font-size: 24px;
  font-weight: 600;
  padding: 40px 0 134px;
}

.career__row-info {
  height: 100%;
  padding-top: 123px;
}

.career__job {
  padding: 64px 0 125px;
}

.career__job-items {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: 210px;
  gap: 20px;
  padding: 20px 0 0;
}

.career__job-item {
  width: 380px;
  height: 210px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.career__job-item-title {
  font-size: 20px;
  font-weight: 500;
}

.career__job-item-text {
  font-size: 12px;
  color: #4F4F4F;
}

.career__job-item-price {
  color: #00093C;
  font-size: 28px;
  font-weight: 700;
}

.career__job-item:hover {
  opacity: 0.7;
}

.career__job-item1 {
  background-color: #C5DDFF;
}

.career__job-item2 {
  background-color: #B8EFCF;
}

.career__job-item3 {
  background-color: #FFCE94;
}

.career__job-item4 {
  background-color: #C7EEFF;
}

.career__job-item5 {
  background-color: #FFE38E;
}

.career__work {
  padding-bottom: 100px;
}

.career__work-items {
  display: grid;
  grid-template-columns: repeat(6, 180px);
  grid-template-rows: repeat(2, 120px);
  gap: 20px;
  padding-top: 30px;
}

.career__work-item {
  width: 180px;
  height: 120px;
  border-radius: 20px;
  box-shadow: 1px 1px 13px #bab7b751;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.career__work-item1 {
  background: url("./../img/container/career/work/image 25.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.career__work-item2 {
  background: url("./../img/container/career/work//image 37.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.career__work-item3 {
  background: url("./../img/container/career/work/image 38.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.career__work-item4 {
  background: url("./../img/container/career/work/image 39.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.career__work-item:hover {
  opacity: 0.6;
}

.career__employ {
  background-color: #00093C;
  color: #ffffff;
  text-align: center;
  padding: 36px 0 60px;
}

.career__employ-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 46px 0 30px;
}

.career__employ-item {
  width: 280px;
  height: 194px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 32px;
}

.career__employ-item-text {
  font-size: 14px;
}

.career__employ-img1::before {
  content: url("./../img/container/career/employ/Vector (3).svg");
}

.career__employ-img2::before {
  content: url("./../img/container/career/employ/Vector (4).svg");
}

.career__employ-img3::before {
  content: url("./../img/container/career/employ/Vector (5).svg");
}

.career__employ-img6 {
  bottom: 10px;
}

.career__employ-img6::before {
  content: url("./../img/container/career/employ/1.svg");
}

.career__employ-img4 {
  bottom: 10px;
}

.career__employ-img4::before {
  content: url("./../img/container/career/employ/2.svg");
}

.career__employ-img5 {
  bottom: 10px;
}

.career__employ-img5::before {
  content: url("./../img/container/career/employ/3.svg");
}

.career__dream-items {
  position: relative;
  display: flex;
  justify-content: right;
  gap: 20px;
  padding: 110px 0 120px;
}

.career__dream-item {
  width: 246px;
  height: 161px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.career__dream-img1 {
  top: 110px;
  left: 0;
  background: url("./../img/container/career/dream/Union (1).svg");
  width: 352px;
  height: 130px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
}

.career__dream-img2 {
  left: -43px;
  top: 186px;
}

.career__dream-img2::before {
  content: url("./../img/container/career/dream/Сова-01 1 (1).svg");
}

.career__dream-img3::before {
  content: url("./../img/container/career/dream/Vector (3).svg");
}

.career__dream-img4::before {
  content: url("./../img/container/career/dream/Vector (4).svg");
}

.career__dream-img5::before {
  content: url("./../img/container/career/dream/Vector (5).svg");
}

.career__dream-title {
  font-size: 24px;
  font-weight: 700;
}

.career__dream-text {
  font-size: 14px;
  color: #4F4F4F;
}

.career__success {
  background-color: #00093C;
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.career__success-block {
  height: 100%;
  width: 1920px;
  position: relative;
}

.login {
  padding: 90px 0 100px;
  width: 580px;
  margin: 0 auto;
}

.login .slider__wrapper {
  width: 580px;
}

.login .slider__indicators {
  width: 580px !important;
  justify-content: center;
}

.login__indicators-item {
  width: 280px;
  text-align: center;
  font-weight: 700;
}

.login__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__item-input {
  width: 380px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}

.login__item-title {
  font-size: 14px;
}

.login__item-soc {
  padding: 36px 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login__item-soc-link {
  display: flex;
  gap: 30px;
}

.login__item-btn {
  text-align: center;
}

.login-text {
  padding-bottom: 16px;
}

.news {
  padding-bottom: 330px;
}

.news-items {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-auto-rows: 500px;
  gap: 20px;
}

.news-item {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px 2px #497a8fa3;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.news-item:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.news-info {
  padding: 20px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-date {
  font-size: 12px;
}

.news-title {
  font-size: 18px;
  font-weight: 500;
  color: #00093C;
}

.news-subtitle {
  font-size: 12px;
  color: #4F4F4F;
  line-height: 18px;
}

.news-link {
  font-size: 14px;
  color: #00093C;
  font-weight: 500;
  display: flex;
  gap: 6px;
}

.news-link::after {
  content: url("./../img/container/news/Vector 211.svg");
  margin-top: 2px;
}

.news-img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 250px;
  width: 100%;
}

.news-page {
  padding-bottom: 330px;
}

.news-page-date {
  padding: 10px 0 15px;
  pointer-events: none;
}

.news-page-block {
  display: flex;
  justify-content: right;
  width: 980px;
  padding: 80px 0;
  position: relative;
}

.news-page-img {
  width: 780px;
  height: 436px;
  border-radius: 20px;
  position: relative;
  z-index: 10;
}

.news-page-text {
  font-size: 18px;
  line-height: 26px;
  width: 980px;
  pointer-events: none;
}

.news-vector {
  position: absolute;
  z-index: 1;
}

.news-vector1 {
  right: -150px;
  top: 369px;
}

.news-vector1::before {
  content: url("./../img/container/news/page/Vector (4).svg");
}

.news-vector2 {
  left: 109px;
  top: 14px;
}

.news-vector2::before {
  content: url("./../img/container/news/page/Vector (3).svg");
}

.news-vector3 {
  left: -50px;
  top: 364px;
  z-index: 15;
}

.news-vector3::before {
  content: url("./../img/container/news/page/Vector 183.svg");
}

.news-vector4 {
  right: -250px;
  top: 24px;
}

.news-vector4::before {
  content: url("./../img/container/news/page/Vector 184.svg");
}

.courses {
  padding-bottom: 330px;
}

.courses__items {
  display: grid;
  grid-template-columns: repeat(2, 430px);
  gap: 20px;
  grid-template-rows: 250px;
}

.courses__item {
  height: 250px;
  width: 430px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 1px 1px 10px 1px #8d8383;
}

.contact {
  padding: 20px 0 330px;
}

.contact__items {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  font-size: 14px;
  font-weight: 500;
}

.contact__info-item {
  display: flex;
  flex-direction: column;
}

.contact__info-item:not(:last-child) {
  gap: 10px;
}

.contact__info-tel {
  font-size: 18px;
  font-weight: 600;
}

.contact__info-tel::before {
  content: url("./../img/container/contact/Group 158.svg");
}

.contact__info-mail::before {
  content: url("./../img/container/contact/Group 59.svg");
}

.contact__info-geo::before {
  content: url("./../img/container/contact/Union (1).svg");
}

.contact__info-soc {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 29px;
}

.contact__info-top {
  display: flex;
  gap: 20px;
}

.contact__img {
  width: 882px;
  height: 410px;
  background: url("./../img/container/contact/Rectangle 207.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact a {
  text-decoration: none;
  color: #000000;
}

.footer {
  color: #ffffff;
  font-size: 14px;
  position: relative;
}

.footer-items {
  display: flex;
  background-color: #00093C;
  padding: 70px 0 55px;
  gap: 80px;
}

.footer__contact {
  width: 200px;
  padding-top: 50px;
}

.footer__contact-logo {
  padding-bottom: 45px;
}

.footer__contact-logo::before {
  content: url("./../img/footer/Group 802.svg");
}

.footer__contact-tel {
  font-size: 18px;
}

.footer__contact-adress {
  padding: 12px 0;
}

.footer__contact-soc {
  display: flex;
  gap: 20px;
  padding: 37px 0 30px;
}

.footer__contact-soc-item {
  display: flex;
  align-items: center;
}

.footer__contact-soc-item1::before {
  content: url("./../img/footer/.svg");
}

.footer__contact-soc-item2::before {
  content: url("./../img/footer/.svg");
}

.footer__contact-soc-item3::before {
  content: url("./../img/footer/.svg");
}

.footer__contact-soc-item4::before {
  content: url("./../img/footer/.svg");
}

.footer__contact-soc-item5::before {
  content: url("./../img/footer/.svg");
}

.footer__contact-subtitle {
  font-size: 12px;
  color: #BDBDBD;
}

.footer__list {
  display: flex;
  gap: 60px;
}

.footer__list-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__list-item {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  transition: all 0.2s ease-in;
}

.footer__list-item:hover {
  text-decoration: underline;
}

.footer__list-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 16px;
}

.footer__list-menu {
  max-width: 267px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer-form {
  border-radius: 20px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 40px;
  color: #000000;
  position: relative;
  display: flex;
  gap: 50px;
  justify-content: right;
  width: 1100px;
  z-index: 10;
}

.footer-form-img {
  background: url("./../img/footer/Union.svg");
  height: 190px;
  width: 417px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer-form-text {
  position: absolute;
  top: 22px;
  left: 49px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 350px;
}

.footer-form-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 20px;
}

.footer-form-right {
  width: 440px !important;
}

.footer-form-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-form-input-name {
  width: 440px;
}

.footer-form-input-contact {
  display: flex;
  gap: 20px;
  width: 100%;
}

.footer-form-input-contact input {
  width: 210px;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.footer-form-btn-text {
  font-size: 10px;
  line-height: 14px;
  color: #4F4F4F;
  width: 211px;
}

.footer-form-bird {
  position: absolute;
  top: 24px;
  left: -50px;
  width: 277px;
  height: 312px;
  background: url("./../img/footer/Сова-01 2.svg");
  background-size: cover;
}

.footer-form-bckg {
  width: 1140px;
  height: 250px;
  position: absolute;
  background: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
  opacity: 0.3;
  filter: blur(16px);
  border-radius: 20px;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
}

.footer-position {
  position: absolute;
  width: 1180px;
  top: -230px;
}

.footer .box {
  display: flex;
  justify-content: space-between;
}

.openings {
  padding-bottom: 330px;
}

.openings-items {
  width: 850px;
  padding: 40px 0 85px;
}

.openings-item {
  padding: 15px 19px;
  border-radius: 6px;
  position: relative;
  z-index: 10;
  background-color: #ffffff;
  font-size: 14px;
  box-shadow: -1px 1px 12px #27AAE1;
  font-weight: 500;
  line-height: 63px;
  max-height: 48px;
  margin-right: 20px;
}

.openings-block {
  box-shadow: 1px 1px 10px 1px #c1c0c0;
}

.openings-tab {
  height: 70px;
  width: 1180px;
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  cursor: pointer;
}

.openings-tab p {
  margin: 0;
}

.openings-job {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
}

.openings-city {
  font-size: 14px;
  color: #4F4F4F;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.openings ul {
  padding: 0 0 0 30px;
}

.openings ul li {
  list-style-type: disc;
  font-weight: 500;
}

.openings-info {
  background-color: #ffffff;
  padding: 0 30px 30px;
  font-size: 14px;
}

.openings-info-title {
  font-weight: 600;
}

.openings-tabs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.openings-icon {
  width: 15px;
  height: 15px;
  background: url("./../img/container/openings/Group 882.svg");
  background-size: contain;
  background-position: center;
  transition: all 0.2s ease-in-out;
}

.openings-par {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 1180px;
  margin: 0 auto;
}

.grey-block {
  background-color: #f6f7f9;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.slider__indicators {
  display: flex;
  width: 880px;
  justify-content: space-between;
}

.slider-text::before {
  content: url("./../img/container/md1/right/children.svg");
}

.slider-text-title {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
}

.slider-text-title span {
  font-weight: 400;
  font-size: 12px;
  color: #4F4F4F;
}

.slider-text2::before {
  content: url("./../img/container/md1/right/children (1).svg");
}

.slider-text3::before {
  content: url("./../img/container/md1/right/family.svg");
}

.slider-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-bottom: 13px;
}

.slider-border {
  border-bottom: 2px solid #E0E0E0;
  width: 100%;
}

.slider-item {
  width: 100%;
}

.slider__item {
  height: 100%;
  display: inline-block;
}

li {
  list-style-type: none;
}

.absolute {
  position: absolute;
}

.title {
  font-size: 36px;
  font-weight: 700;
  pointer-events: none;
}

.title-light {
  color: #ffffff;
}

.title-dark {
  color: #000000;
}

.review-item {
  width: 240px !important;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
}

.review-info {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.review-img {
  width: 40px;
  height: 40px;
  background: url("./../img/container/md4/user/Ellipse 185.svg");
}

.review-name {
  font-size: 14px;
  font-weight: 700;
}

.review-about {
  font-size: 12px;
  font-weight: 500;
  color: #4F4F4F;
  width: 190px;
}

.review-star {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 10px;
}

.review-star::before {
  content: url("./../img/container/md4/Star 1.svg");
  padding-top: 2px;
}

.review-window {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.review-window .owl-item {
  width: 240px !important;
}

.review-window .owl-stage {
  width: 100% !important;
  display: flex;
}

.review-window .owl-stage-outer {
  width: 100%;
  margin: 0 auto;
}

.btn {
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  background-color: #F7941D;
  height: 50px;
  color: #ffffff;
  border-radius: 6px;
}

.btn-form {
  padding: 0 56px;
}

.btn-button {
  padding: 0 13px;
}

.btn-openings {
  padding: 0 20px;
}

.item1 {
  background-color: #F7BC75;
  width: 1180px;
  height: 160px;
  grid-area: item1;
}

.item2 {
  background-color: #C5DDFF;
  width: 480px;
  height: 460px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 50px;
  text-align: center;
  grid-area: item2;
}

.item2-img::before {
  content: url("./../img/container/md6/monitor.svg");
}

.item3 {
  background-color: #B8EFCF;
  width: 330px;
  height: 220px;
  grid-area: item3;
  flex-direction: column;
}

.item3-img::before {
  content: url("./../img/container/md6/newspaper.svg");
}

.item4 {
  background-color: #FFEEF6;
  width: 330px;
  height: 220px;
  grid-area: item4;
  flex-direction: column;
}

.item4-img::before {
  content: url("./../img/container/md6/diagram.svg");
}

.item5 {
  width: 680px;
  height: 220px;
  background-color: #FFE38E;
  grid-area: item5;
  gap: 50px;
}

.item5-img {
  width: 98px;
  height: 98px;
  background: url("./../img/container/md6/Group 837.svg");
  background-size: cover;
}

h3 {
  margin: 0;
}

.header-light {
  background-color: #ffffff;
}

.header-dark {
  background-color: #00093C;
  color: #ffffff;
}

.header-dark a {
  color: #ffffff;
}

button {
  cursor: pointer;
}

.item6 {
  background-color: #C7EEFF;
  grid-area: item6;
}

.item7 {
  background-color: #FFE38E;
  grid-area: item7;
}

.item8 {
  background-color: #DDDDFF;
  grid-area: item8;
}

.item9 {
  width: 780px;
  height: 250px;
  grid-area: item9;
  background-color: #B8EFCF;
}

.item10 {
  grid-area: item10;
  background-color: #00093C;
}

.item11 {
  grid-area: item11;
  background-color: #C5DDFF;
}

.item12 {
  grid-area: item12;
  background-color: #FFEEF6;
}

.item13 {
  grid-area: item13;
  background-color: #FFCE94;
}

.item380 {
  width: 380px;
  height: 250px;
}

.slider__wrapper {
  width: 900px;
  overflow: hidden;
  padding-left: 20px;
  margin-left: 20px;
  margin-right: 40px;
}

.navigate {
  display: flex;
  gap: 10px;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.navigate a {
  color: #828282;
  text-decoration: none;
}

.navigate-icon::before {
  content: url("./../img/container/navigate/Vector 105 (1).svg");
}

.facebook::before {
  content: url("./../img/container/contact/.svg");
}

.youtube::before {
  content: url("./../img/container/contact/.svg");
}

.inst::before {
  content: url("./../img/container/contact/.svg");
}

.vk::before {
  content: url("./../img/container/contact/.svg");
}

.telegram::before {
  content: url("./../img/container/contact/.svg");
}

.yandex::before {
  content: url("./../img/container/contact/Group 921.svg");
}

.mobile-menu {
  display: none;
}

.mobile-bck {
  display: none;
}

input {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 9, 60, 0.1);
  border: 0;
  outline: none;
  color: #4F4F4F;
  font-size: 14px;
  border-radius: 6px;
  padding: 0;
  padding-left: 20px;
}

@media (max-width: 800px) {
  .nav {
    position: fixed;
    z-index: 100;
    height: 100%;
    margin-top: 60px;
    width: 100%;
    transform: translateX(-120%);
    transition: all 0.6s ease-in-out;
  }
  .nav-logo {
    display: none;
  }
  .nav-logo-dark {
    display: none;
  }
  .nav-list {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }
  .nav .box {
    height: 100%;
  }
  .nav .display {
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    height: 100%;
    gap: 50px;
  }
  .nav-contact {
    flex-direction: column;
    gap: 12px;
  }
  .nav progress {
    display: none;
  }
  .nav-block {
    height: 100%;
  }
  .box {
    width: 320px;
  }
  .row {
    height: 410px;
  }
  .row-block {
    width: 320px;
    margin: 0 auto;
  }
  .row-items {
    padding-top: 224px;
    width: 100%;
    height: 100%;
  }
  .row-img {
    height: 224px;
    width: 894px;
    left: -441px;
    top: 0;
    background-size: cover;
    background-position: center;
  }
  .row-bck2 {
    display: none;
  }
  .row-ball {
    top: -168px;
    right: -60px;
  }
  .row-text {
    width: 320px;
    top: 30px;
    bottom: 40px;
    left: 10px;
  }
  .row-title {
    font-size: 18px;
  }
  .row-title1 {
    padding-bottom: 17px;
  }
  .row-title2 {
    padding-bottom: 21px;
  }
  .mobile-block {
    width: 100%;
    height: 60px;
  }
  .mobile-menu {
    display: flex;
    height: 60px;
    background-color: #00093C;
    align-items: center;
    position: fixed;
    z-index: 1000000;
    width: 100%;
  }
  .mobile-menu .box {
    display: flex;
    justify-content: space-between;
  }
  .mobile-menu progress {
    height: 2px;
    position: fixed;
    width: 100%;
    top: 60px;
    left: 0;
    z-index: 30;
    background-color: white;
  }
  .mobile-menu progress::-webkit-progress-bar {
    background-color: #c7bcbc;
  }
  .mobile-menu progress::-webkit-progress-value {
    background-color: #6565a8;
  }
  .mobile-logo {
    width: 57px;
    height: 40px;
    background: url("./../img/header/Group 1 (1).svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    outline-style: none;
    border: 0;
  }
  .mobile-logo:focus {
    outline: none;
  }
  .mobile-burger {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    transform: rotate(180deg);
    overflow: hidden;
  }
  .mobile-line {
    width: 18px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
  }
  .mobile-line2 {
    height: 2px;
    width: 13px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  .container__md1 {
    flex-direction: column;
    padding: 40px 0 38px;
  }
  .container__md1-message {
    background: url("./../img/mobile/Union (1).svg");
    width: 300px;
    height: 144px;
    background-size: cover;
    font-size: 14px;
  }
  .container__md1-union {
    background: url("./../img/mobile/Сова-01 1 (1).svg");
    height: 70px;
    width: 63px;
    left: 0;
    top: 120px;
  }
  .container__md1-left {
    padding: 0 10px;
  }
  .container__md1-right {
    padding-top: 36px;
  }
  .container__md1-right .slider__indicators {
    width: 300px;
  }
  .container__md1-right .slider__indicators .slider-display {
    flex-direction: column;
    gap: 0;
    text-align: center;
  }
  .container__md1-right .slider__indicators .slider-text-title {
    font-size: 14px;
  }
  .container__md1-link {
    line-height: 58px;
    margin-right: 10px;
    white-space: nowrap;
    font-size: 12px;
  }
  .container__md1-items {
    height: 400px;
    padding-top: 20px;
  }
  .container__md1-item {
    height: 800px;
    padding-left: 10px;
  }
  .container__md1-block {
    display: inline-block;
  }
  .container__md1-start {
    display: flex;
    align-items: flex-start;
  }
  .container__md2-block {
    height: 168px;
    width: 300px;
  }
  .container__md2-video {
    width: 300px;
    height: 168px;
    background-size: cover;
    border-radius: 20px;
  }
  .container__md2-line {
    display: none;
  }
  .container__md2-line2 {
    display: none;
  }
  .container__md2-line3 {
    display: none;
  }
  .container__md2-line4 {
    display: none;
  }
  .container__md2-bck {
    width: 300px;
    height: 168px;
  }
  .container__md3 {
    width: 300px;
    margin: 0 auto;
    padding: 15px 0 18px;
  }
  .container__md3-title {
    width: 300px;
    font-size: 18px;
  }
  .container__md3-items {
    flex-direction: column;
    gap: 20px;
  }
  .container__md3-item-text {
    gap: 0;
    font-size: 18px;
  }
  .container__md6 {
    padding-bottom: 20px;
  }
  .container__md6-items {
    justify-content: center;
    grid-template-areas: 'item1' 'item2' 'item3' 'item4' 'item5';
  }
  .container__md6-item {
    width: 300px;
    flex-direction: column;
    position: relative;
    padding: 20px 20px;
  }
  .container__md6-date {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .container__md6-title {
    font-size: 23px;
    line-height: 24px;
    padding-left: 90px;
  }
  .container__md6-button {
    width: 260px;
  }
  .container__md6-num {
    font-size: 50px;
    line-height: 50px;
  }
  .container__md6-month {
    font-size: 16px;
    font-weight: 600;
  }
  .container__md6-subtitle {
    font-size: 16px;
  }
  .container__md6 .item5 {
    justify-content: center;
    align-items: center;
  }
  .container__md6 .item5-img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 20px;
  }
  .container__md6 .item5 .position-title {
    padding-left: 78px;
  }
  .container__md6-text {
    gap: 50px;
  }
  .container__md5 {
    padding: 34px 0 0px;
  }
  .container__md5-items {
    display: grid;
    grid-template-columns: repeat(2, 145px);
    grid-auto-rows: 160px;
    font-size: 12px;
  }
  .container__md5-item {
    width: 145px;
  }
  .container__md5-item-text {
    align-items: flex-start;
  }
  .container__md4-title {
    width: 300px;
    margin: 0 auto;
  }
  .container__md4-bckg {
    display: none;
  }
  .container__events {
    padding-bottom: 50px;
  }
  .container__events-items {
    grid-template-areas: 'item1' 'item6' 'item7' 'item8' 'item9' 'item10' 'item11' 'item12' 'item13';
  }
  .container__events-item {
    width: 300px;
  }
  .news {
    padding-bottom: 50px;
  }
  .news-items {
    grid-template-columns: repeat(1, 300px);
    grid-auto-rows: inherit;
  }
  .news-page-text {
    width: 300px;
  }
  .news-page-block {
    width: 300px;
  }
  .news-page-img {
    background-size: cover;
    height: 250px;
  }
  .news-vector {
    display: none;
  }
  .login {
    width: 300px;
  }
  .login .slider__wrapper {
    width: 300px;
    margin: 0;
    padding: 0;
  }
  .login .slider__indicators {
    width: 300px !important;
  }
  .login__item-input {
    width: 300px;
    justify-content: center;
    align-items: center;
  }
  .login-text {
    font-size: 14px;
    padding-bottom: 14px;
  }
  .login__input {
    width: 250px;
    height: 40px;
  }
  .login input {
    font-size: 12px;
  }
  .item1 {
    height: 340px;
  }
  .md1-slider {
    width: 300px;
    padding: 0;
    margin-left: 0;
    margin: 0 auto;
  }
  .grey-block {
    background-color: #ffffff;
  }
  .footer-position {
    width: 320px;
    position: static;
  }
  .footer-form {
    flex-direction: column;
    width: 300px;
    padding: 0;
    padding-bottom: 40px;
  }
  .footer-form-right {
    width: 300px !important;
  }
  .footer-form-bckg {
    display: none;
  }
  .footer-form-left {
    width: 270px;
  }
  .footer-form-img {
    width: 100%;
    height: 150px;
    background-size: contain;
    margin-left: 30px;
  }
  .footer-form-bird {
    width: 120px;
    height: 136px;
    left: -95px;
  }
  .footer-form-text {
    width: 220px;
    top: 9px;
    left: 35px;
  }
  .footer-form-title {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 10px;
  }
  .footer-form-subtitle {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-form-input-name {
    width: 300px;
  }
  .footer-form-input-contact {
    flex-direction: column;
  }
  .footer-form-input-contact input {
    width: 300px;
  }
  .footer-form-btn {
    flex-direction: column;
    align-items: normal;
    gap: 12px;
  }
  .footer__list {
    display: none;
  }
  .footer__contact-logo {
    display: none;
  }
  .footer-items {
    padding-top: 0px;
  }
  .transform-line1 {
    transform: rotate(-45deg) translate(-3px, 1px);
  }
  .transform-line3 {
    transform: rotate(45deg) translate(-3px, -1px);
  }
  .transform-menu {
    transform: translateX(0%);
  }
  .title {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
}

.display-none {
  display: none;
}

.rotate {
  transform: rotate(45deg);
}

a {
  outline: none;
  transition: all 0.4s ease-in;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: underline;
  opacity: 0.7;
}
